@font-face {
  font-family: 'iconfont';  /* Project id 4392623 */
  src: url('//at.alicdn.com/t/c/font_4392623_e1y0gqqriyi.woff2?t=1704201209182') format('woff2'),
       url('//at.alicdn.com/t/c/font_4392623_e1y0gqqriyi.woff?t=1704201209182') format('woff'),
       url('//at.alicdn.com/t/c/font_4392623_e1y0gqqriyi.ttf?t=1704201209182') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}