@font-face {
  font-family: 'iconfont';  /* Project id 4392623 */
  src: url('//at.alicdn.com/t/c/font_4392623_dfxt52d3a9.woff2?t=1704940455083') format('woff2'),
       url('//at.alicdn.com/t/c/font_4392623_dfxt52d3a9.woff?t=1704940455083') format('woff'),
       url('//at.alicdn.com/t/c/font_4392623_dfxt52d3a9.ttf?t=1704940455083') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}